footer{
    text-align: center;
    background-color: #253b6d;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 18px;
}
footer a:hover {
    color: #ffffff;
}

.icon-circled.icon-2x{
	width: 48px !important;
	height: 48px !important;
	line-height: 48px !important;
}

.icon-circled{
    color: #ffffff;
}
