<h2 class="class container center" style="margin-top: 100px;">Suscríbete y forma parte de nosotros...</h2 >

  <div class="container" style="margin-top: 100px;" >
    <div class="row">
    
      <div class="col s12 l4">
        <div class="center promo promo-example">
          <ul class="Beneficios">
          <i class="far fa-calendar-alt " style="font-size: 150px; color: #253b6d"></i>
        </ul>
        <p>Agenda tu cita que nosotros nos escargamos de planificarte una atension excelente valorando tu tiempo</p>
        </div>
      </div>
      <div class="col s12 l4">
          <div class="center promo promo-example">
              <ul class="Beneficios">
              <i class="fas fa-globe " style="font-size: 150px; color: #253b6d"></i>
              </ul>
            <p>Quieres saber el progreso de tu equipo, pues te facilitamos la opcion de que ve puedas ver el estatus de tu solicitud
              en todo momento. comprometidos con la optimizacion de los procesos.
            </p>
            </div>
      </div>
      <div class="col s12 l4">
          <div class="center promo promo-example">
              <ul class="Beneficios">
              <i class="fas fa-comments" style="font-size: 150px; color: #253b6d"></i>
              </ul>
            <p>Se te presento un inconveniente a la hora de asistir a nuestra organizacion, te prestamos en servicio de notificaciones
              con el fin de optimizar la comunicacion oportuna con nuestro equipo de trabajo.
            </p>
            </div>
    
    
          <i class=""></i>
      </div>
    
    </div>
  </div>

  <div class="container2 center" >
    <div class="class container " style="margin-top: 60px; padding: 40px">
        <h3 style="margin-top: 50px">Suscríbete siguiendo 3 simples pasos </h3>
      <mat-horizontal-stepper [linear] = "isLinear" #stepper style="padding: 40px" class="z-depth-4">
        <mat-step [stepControl]="firstFormGroup" >
            <form [formGroup]="firstFormGroup">
            <div class="row">
              <div class="col m3">
                <ng-template matStepLabel>Introduce tus datos filiatorios</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Nombre"  formControlName="nombrectrl"required >
                </mat-form-field>
              </div>
              <div class="col m3">
                <ng-template matStepLabel>Introduce tu Apellido</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Apellido"  formControlName="apellidoctrl" required>
                  </mat-form-field>
              </div>
              <div class="col m3">
                  <ng-template matStepLabel>Sexo</ng-template>
                  <mat-form-field>
                    <br>
                    <mat-select [(value)]="opcion"  placeholder="Elige una opcion" formControlName="sexoctrl" required>
                      <mat-option value="M">Mujer</mat-option>
                      <mat-option value="H">Hombre</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
              <div class="col m3">
                <mat-form-field>
                  <ng-template matStepLabel>Elige tu fecha de Nacimiento</ng-template>
                  <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="fechactrl" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div>
              <button mat-button matStepperNext class="boton" >Siguiente</button>
            </div>
          </form>
        </mat-step>


        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
            <div class="row">
              <div>
                  <ng-template matStepLabel>Introduce tus datos de contacto</ng-template>
                  <mat-form-field>
                    <input matInput placeholder="Correo" formControlName="correoctrl" >
                  </mat-form-field>
              </div>
        </div>
            <div class="row">
              <div class="col m6">
              <button mat-button matStepperPrevious class="boton">Regresar</button>
            </div>
            <div class="col m6">
              <button mat-button matStepperNext class="boton" (click)="onSubscribe()">Siguiente</button>
            </div>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Fin</ng-template>
          <div *ngIf="existe, else act">
          <p class="center"> {{mensaje}}</p> 
         <!-- <button mat-button matStepperPrevious class="boton">Regresar</button>-->
        </div>
          <ng-template #act>
              <p class="center"> {{mensaje}}</p> 
          </ng-template>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>