<div style="
display: flex;
flex-direction: column;
">
    <button style="align-self: flex-end;" mat-icon-button (click)="openLink()" >
        <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
      </button>
</div>

<mat-card style="width: 880px;">
  <mat-card-title>Actividades</mat-card-title>
  <mat-card-content>
      <mat-list>
        <div *ngFor="let item of dataSheet">
            <mat-list-item ><h5>{{item.nombre}}</h5></mat-list-item>
            <mat-list-item style="text-align: justify;" ><span>{{item.descripcion}}</span></mat-list-item>
            <mat-divider></mat-divider>
        </div>
        </mat-list>
    <!-- <mat-nav-list>

      <div *ngFor="let item of dataSheet" mat-list-item>
        <a href="javascript:void(0);" mat-list-item (click)="bottomSheetRef.dismiss()"> <span
            mat-line>{{item.nombre}}</span></a>
        <span mat-line>{{item.descripcion}}</span>
      </div>
    </mat-nav-list> -->
  </mat-card-content>

</mat-card>
