.card-reveal{
    font-family: 'Poppins',sans-serif;
}
.card-content{
    font-family: 'Poppins',sans-serif;
}

search-full-width {
  width: 70%;
}

.search-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}
.boton{
  color: white !important;
  background:#18aca0 !important;
  border: 0px#18aca0 !important;
  height: 50px;
  width: 130px;
  font-size: 20px;
}

.botones-colossus-catalogo{
  background-color:#18aca0;
  color: white !important;
}