<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Inicio</span>
  </a>
  <a mat-list-item routerLink="/nosotros" (click)="onSidenavClose()">
      <mat-icon>domain</mat-icon> <span class="nav-caption">Nosotros</span>
  </a>
  <a mat-list-item routerLink="/conocenos" (click)="onSidenavClose()">
      <mat-icon>group</mat-icon><span class="nav-caption">Conócenos</span>
  </a>
  <a mat-list-item routerLink="/catalogo" (click)="onSidenavClose()">
    <mat-icon>card_travel</mat-icon> <span class="nav-caption">Servicios</span>
  </a>
  <a mat-list-item routerLink="/promociones" (click)="onSidenavClose()">
      <mat-icon>loyalty</mat-icon><span class="nav-caption">Promociones</span>
  </a>
  <a mat-list-item routerLink="/suscribirse" (click)="onSidenavClose()">
      <mat-icon>person</mat-icon><span class="nav-caption">Subscribirse</span>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <mat-icon>add_to_home_screen</mat-icon><span class="nav-caption">Entrar</span>
  </a>
</mat-nav-list>
