.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .colossus-navbar{
    background-color: #253b6d !important;
  }
  
  .botones-colossus{
    background-color: transparent !important;
    color: #f4f4f4 !important;
    font-family: 'Poppins', sans-serif;
  }
  .logo{
    width: 24px;
    height: 16px;
  }
  .fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
    width: 100%  !important;
  }
  .brand-logo{
    font-size: 30px;
    color: white;
    font-family: 'Poppins',sans-serif;
  }