
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" >
            <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
      <!--this is a place for us to add side-nav code-->
    </mat-sidenav>
    <mat-sidenav-content>
        <app-navbar (sidenavToggle)="sidenav.toggle()"></app-navbar>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <main>
        <router-outlet></router-outlet>
        <app-sugerencia></app-sugerencia>
        <app-footer></app-footer>
        <app-preguntasfrecuentes></app-preguntasfrecuentes>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>



<!--The content below is only a placeholder and can be replaced.-->

<!--

<app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-sugerencia></app-sugerencia>

<app-preguntafrecuente></app-preguntafrecuente>

<app-footer></app-footer>

-->

