.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    border: 0;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
}

img {
    border-style: none;
}
img {
    vertical-align: middle;
}

body {
  background-color: #ECEFF1;
  color: #37474F;
   font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
        }

.fa-spin-fast {
    -webkit-animation: fa-spin-fast 0.2s infinite linear;
    animation: fa-spin-fast 0.2s infinite linear;
}
@-webkit-keyframes fa-spin-fast {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin-fast {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


.material-card {
    position: relative;
    height: 0;
    padding-bottom: calc(100% - 16px);
    margin-bottom: 6.6em;
}
.material-card h2 {
    position: absolute;
    top: calc(100% - 16px);
    left: 0;
    width: 100%;
    padding: 10px 16px;
    color: #fff;
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card h2 span {
    display: block;
}
.material-card h2 strong {
    font-weight: 400;
    display: block;
    font-size: .8em;
}
.material-card h2:before,
.material-card h2:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: -16px;
    width: 0;
    border: 8px solid;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card h2:after {
    top: auto;
    bottom: 0;
}
@media screen and (max-width: 767px) {
    .material-card.mc-active {
        padding-bottom: 0;
        height: auto;
    }
}
.material-card.mc-active h2 {
    top: 0;
    padding: 10px 16px 10px 90px;
}
.material-card.mc-active h2:before {
    top: 0;
}
.material-card.mc-active h2:after {
    bottom: -16px;
}
.material-card .mc-content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: -40px;
    left: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card .mc-btn-action {
    position: absolute;
    right: 16px;
    top: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid;
    width: 54px;
    height: 54px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 20;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card.mc-active .mc-btn-action {
    top: 65px;
}
.material-card .mc-description {
    position: absolute;
    top: 100%;
    right: 30px;
    left: 30px;
    bottom: 55px;
    overflow: auto;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
}
.material-card .mc-footer {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card .mc-footer h4 {
    position: absolute;
    top: 200px;
    left: 30px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    -webkit-transition: all 1.4s;
    -moz-transition: all 1.4s;
    -ms-transition: all 1.4s;
    -o-transition: all 1.4s;
    transition: all 1.4s;
}
.material-card .mc-footer a {
    display: block;
    float: left;
    position: relative;
    width: 52px;
    height: 52px;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 28px;
    color: #fff;
    line-height: 52px;
    text-decoration: none;
    top: 200px;
}
.material-card .mc-footer a:nth-child(1) {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.material-card .mc-footer a:nth-child(2) {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.material-card .mc-footer a:nth-child(3) {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.material-card .mc-footer a:nth-child(4) {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.material-card .mc-footer a:nth-child(5) {
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}
.material-card .img-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card.mc-active .img-container {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    top: 12px;
    width: 60px;
    height: 60px;
    z-index: 20;
}
.material-card.mc-active .mc-content {
    padding-top: 5.6em;
}
@media screen and (max-width: 767px) {
    .material-card.mc-active .mc-content {
        position: relative;
        margin-right: 16px;
    }
}
.material-card.mc-active .mc-description {
    top: 50px;
    padding-top: 5.6em;
    opacity: 1;
    filter: alpha(opacity=100);
}
@media screen and (max-width: 767px) {
    .material-card.mc-active .mc-description {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        padding: 50px 30px 70px 30px;
        bottom: 0;
    }
}
.material-card.mc-active .mc-footer {
    overflow: visible;
    position: absolute;
    top: calc(100% - 16px);
    left: 16px;
    right: 0;
    height: 82px;
    padding-top: 15px;
    padding-left: 25px;
}
.material-card.mc-active .mc-footer a {
    top: 0;
}
.material-card.mc-active .mc-footer h4 {
    top: -32px;
}
.material-card.Red h2 {
    background-color: #f44336;
}
.material-card.Red h2:after {
    border-top-color: #f44336;
    border-right-color: #f44336;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.material-card.Red h2:before {
    border-top-color: transparent;
    border-right-color: #b71c1c;
    border-bottom-color: #b71c1c;
    border-left-color: transparent;
}
.material-card.Red.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #f44336;
    border-bottom-color: #f44336;
    border-left-color: transparent;
}
.material-card.Red.mc-active h2:after {
    border-top-color: #b71c1c;
    border-right-color: #b71c1c;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.material-card.Red .mc-btn-action {
    background-color: #f44336;
}
.material-card.Red .mc-btn-action:hover {
    background-color: #b71c1c;
}
.material-card.Red .mc-footer h4 {
    color: #b71c1c;
}
.material-card.Red .mc-footer a {
    background-color: #b71c1c;
}
.material-card.Red.mc-active .mc-content {
    background-color: #d1d1d1;
}
.material-card.Red.mc-active .mc-footer {
    background-color: #d1d1d1;
}
.material-card.Red.mc-active .mc-btn-action {
    border-color: #d1d1d1;
}

/*Nuevo*/
.material-card.CaputGold h2 {
    background-color: #253b6d;
}
.material-card.CaputGold h2:after {
    border-top-color: #253b6d;
    border-right-color: #253b6d;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.material-card.CaputGold h2:before {
    border-top-color: transparent;
    border-right-color: #253b6d;
    border-bottom-color: #253b6d;
    border-left-color: transparent;
}
.material-card.CaputGold.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #253b6d;
    border-bottom-color: #253b6d;
    border-left-color: transparent;
}
.material-card.CaputGold.mc-active h2:after {
    border-top-color: #253b6d;
    border-right-color: #253b6d;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.material-card.CaputGold .mc-btn-action {
    background-color: #18aca0;
}
.material-card.CaputGold .mc-btn-action:hover {
    background-color: #18aca0;
}
.material-card.CaputGold .mc-footer h4 {
    color: #18aca0;
}
.material-card.CaputGold .mc-footer a {
    background-color: #18aca0;
}
.material-card.CaputGold.mc-active .mc-content {
    background-color: #faf6e0;
}
.material-card.CaputGold.mc-active .mc-footer {
    background-color: #1891ac;
}
.material-card.CaputGold.mc-active .mc-btn-action {
    border-color: #FFFFFF;
}
a.icon-circled {
	display: inline-block;
	border-radius: 1000px !important;
	-moz-border-radius: 1000px !important;
	-webkit-border-radius: 1000px !important;
	-o-border-radius: 1000px !important;
	-ms-border-radius: 1000px !important;
	text-align: center;
	width: 24px !important;
	height: 24px !important;
    line-height: 24px !important;
    
}

.icon-circled.icon-2x{
	width: 40px !important;
	height: 40px !important;
	line-height: 40px !important;
}