.example-full-width{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.modal-trigger{
    background-color: #18aca0;
    color: #f4f4f4;
}

.mat-menu-item{
    color: rebeccapurple;
    font-family: 'Poppins', sans-serif;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .example-radio-group-label{
    font-family: 'Poppins', sans-serif;
      width: 100%;
  }
